<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kAPIKey</key>
	<string>ScocKy2GZ-4YRkCzWI8TaEcd84A-_mEB</string>
	<key>kAPISecret</key>
	<string>y4u40Tfk8mCp5lqiQQ3j_481y6brxo4j</string>
</dict>
</plist>
